---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: " 2018 - Actualmente...",
    title: "Desarrollador de software - Eviden",
    description:
      "Desarrollo de software fullstack empleando distintas tecnologías como Angular4 (Typescript), Java + Spring y Oracle SQL entre otras."
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
